<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body class="px-20 py-16 bg-blue-100">
  <div id="app">
    <div class="mb-8 grid grid-cols-2 grid-rows-1">
      <div class="text-3xl font-bold inline-block">Thai Dessert ( {{countLike}} )</div>
      <div class="text-right">
        <div v-if="searchBoxOpen" class="inline-block">
          <input v-model="inputs" placeholder="Searching ... " class="border w-64 px-2">
          <button v-on:click="closeSearch" class="ml-2 bg-blue-500 text-white py-1 px-2 rounded">Cancle</button>
        </div>
        <i v-else="searchBoxOpen" class="material-icons inline-block text-2xl align-text-bottom" @click="openSearch">search</i>
      </div>
    </div>
    <div class="grid grid-cols-3 auto-rows-auto gap-10 ">
      <div v-for="(t,index) in filteredList" class="mx-auto">
        <img :src="t.url" class="w-72 h-44" v-on:dblclick="likeIt(index)">
        <p class="text-center mt-4 text-xl">
          <i v-if="t.isLike" class="material-icons text-red-400 text-base">favorite</i>
          <i v-else class="material-icons text-base">favorite_border</i>
          {{t.name}}
        </p>
      </div>
    </div>
    <div v-if="searchFound" class="text-center mt-4 text-xl">Photo Not Found !!!</div>
  </div>

  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>